
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="image"><img src="https://photos-2.dropbox.com/t/2/AADTGGIDnqnDizoch1tL_FdKExAQc1KRZINgKdJNMqgyYw/12/22181352/jpeg/32x32/1/_/1/2/hero.jpg/EJn80xAY5xggAigC/1qfGpbU8NPTJMhEPQ_fnmkdl-KXkO8oKyUeKVHB4CN8?size=1024x768&size_mode=3" style="width:1264px; height:400px;padding-top: 15px;  opacity: 0.4; position:relative; " alt="" />
</div>
<div class="old">Your Furniture is Old </div>
<div class="older"> Ours is Older</div>

<p><a href="/products" style="text-decoration: none;"><%= link_to "Checkout Our Products", "/products" %> </p>


  </body>
</html>
